.thumbnailContainer :hover{
  box-shadow: 0 5px 30px 0 rgb(255, 26, 152),0 10px 15px 0 rgba(0,0,0,0.12);
}

.bookingThumbnail {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
    height: 150px;
    margin-bottom: 10px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16),0 10px 15px 0 rgba(0,0,0,0.12);
  background-size: cover;
  border-radius: 4px;
  border: 8px solid rgba(255, 86, 181, 0.73);
}

.thumbnailContainer :hover :first-child{
  display: block;
}


 .bookingThumbnail .bookingTextBox {
   display: none;
  box-shadow: none !important;
   height: 100%;
  width: 100%;
  background-color: #f2f5f4;
   opacity: 0.8;
}

.bookingThumbnail .bookingTextBox  a:link, a:hover{
   text-decoration: none;
   box-shadow: none !important;
 }

.bookingThumbnail .bookingTextBox  a {
  color: #767474;
  font-size: large;
}
