html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    background:url(../../public/assets/booksterheader.PNG) no-repeat;
    font-family: Philosopher;
    color: white;
}

footer .contactInfo{
    text-align: center;
    margin-bottom: 4px;
}

footer .topRow{
    margin-top: 10px;
}

