
header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: visible;
  background:url(../../public/assets/booksterheader.PNG) no-repeat;
  background-size: 100%;
  position: relative;
  direction: ltr;
}

.row{
  margin-right:0;
  margin-left: 0;
  width: 100%;
}

.buttons{
  display: inline-block;
  vertical-align: middle;
}

.btn{
  margin-left: 5px;
}

.marginRight{
  margin-right: 30px;
}

.noMargin {
margin-right: 0 !important
}

.navbar-right {
  color: #d2d1d4;
  padding: 10px;
   }

.log {
  margin: 5px 10px 0 0;

}
.navbar-header {
  font-family: Philosopher;
  color: white;
  font-size: x-large;
}
.noDisplay {
  display: none;
}

.searchDisplay {
    padding-left:0;
  padding-right:0;
  padding-top:10px;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.formDisplay{
  display: block;
}


