
header {
  min-height: 130px;
  /*background: -webkit-linear-gradient(left, rgba(255,0,0,0) 0%, rgb(255, 0, 155) 80%);
  background: -o-linear-gradient(right, rgba(255,0,0,0) 0%, rgb(255, 0, 155) 80%);
  background: -moz-linear-gradient(right, rgba(255,0,0,0) 0%, rgb(255, 0, 155) 80%);
  background: linear-gradient(to right, rgba(255,0,0,0) 0%, rgb(255, 0, 155) 80%); /* Standard syntax (must be last) */
  background:url(../../public/assets/booksterheader.PNG);
}

.row {
margin-right: 0px !important
}

.navbar-right {
  color: #d2d1d4;
  /*padding: 10px;*/
   }
.log {
  margin: 5px 10px 0 0;

}
.navbar-header {
  margin: 5px 10px 0 0;
  padding: 15px;
  font-family: Philosopher;
  color: white;
  font-size: x-large;
}
