
header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: visible;
  background:url(../../public/assets/booksterheader.PNG) no-repeat;
  background-size: 100%;
  position: relative;
  direction: ltr;
}

.noMargin {
margin-right: 0px !important
}

.navbar-right {
  color: #d2d1d4;
  padding: 10px;
   }
.log {
  margin: 5px 10px 0 0;

}
.navbar-header {
  font-family: Philosopher;
  color: white;
  font-size: x-large;
  margin-left: 15px;
}
.searchNoDisplay {
  display: none;
}

.searchDisplay {
  display: block;
  margin-left: 30px;
}

.formNoDisplay{
  display: none;
}

.formDisplay{
  display: block;
}


