.form {
    padding: 10px;
}
.formAlert {
    width:97% !important;
    margin-left: 12px;
    margin-right: 12px;
}

.datePicker {
    float: left;
    width: 60%;
}

.hiddenAlert{
    display: none;
}

.signUpButton {
    float:right;
}